/* src/features/simulation-setup/GridSizeStep.css */
.grid-size-step {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-group {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 5px;
}

.form-group label {
  font-weight: bold;
  font-size: 14px;
}